@tailwind base;
@tailwind components;
@tailwind utilities;

span.nav-hint {
  @apply left-7 absolute opacity-0 group-hover:opacity-100 transition-opacity text-nowrap bg-stone-200 border border-stone-400 shadow rounded-lg p-1;
}

#root {
  @apply min-h-[100vh];
}

.dashboard-panel {
  @apply rounded-lg bg-slate-100 border border-backnav-light shadow-xl p-4 flex flex-col justify-between bg-fundo-light;
}

.login-bg {
  --s: 30px; /* control the size*/
  --c1: #cbf3f0;
  --c2: #2ec4b6;

  --_s: 37.5% 12.5% at 62.5%;
  --_g: 34% 99%, #0000 101%;
  --g1: radial-gradient(var(--_s) 100%, #0000 32%, var(--c1) var(--_g));
  --g2: radial-gradient(var(--_s) 0, #0000 32%, var(--c1) var(--_g));
  --g3: radial-gradient(var(--_s) 100%, #0000 32%, var(--c2) var(--_g));
  --g4: radial-gradient(var(--_s) 0, #0000 32%, var(--c2) var(--_g));
  background: var(--g1), var(--g2) 0 calc(3 * var(--s)),
    var(--g3) var(--s) calc(3 * var(--s)), var(--g4) var(--s) calc(6 * var(--s)),
    var(--g1) calc(2 * var(--s)) calc(6 * var(--s)),
    var(--g2) calc(2 * var(--s)) calc(9 * var(--s)),
    var(--g3) calc(3 * var(--s)) calc(9 * var(--s)),
    var(--g4) calc(3 * var(--s)) 0,
    repeating-linear-gradient(var(--c1) 0 25%, var(--c2) 0 50%);
  background-size: calc(4 * var(--s)) calc(12 * var(--s));
}

header.listing {
  @apply bg-cyan-100 border border-slate-300 text-slate-600 shadow-sm p-4 rounded-lg justify-between gap-4 py-2 grid grid-cols-subgrid content-start mb-2;
}

.action {
  @apply flex gap-1 items-center bg-fundo-light text-white border border-teal-600 p-[5px] px-3 rounded-lg shadow-sm;
}

.alternate {
  @apply flex gap-1 items-center bg-stone-400/50 border border-stone-600 p-[5px] px-3 rounded-lg shadow-sm;
}

input {
  @apply bg-transparent
}

.panel {
  @apply hidden absolute group-focus-within:block bg-slate-200 shadow border border-slate-400 rounded-lg p-4;
}
