@tailwind base;
@tailwind components;
@tailwind utilities;

span.nav-hint {
  @apply left-7 absolute opacity-0 group-hover:opacity-100 transition-opacity text-nowrap bg-stone-200 border border-stone-400 shadow rounded-lg p-1;
}

#root {
  @apply min-h-[100vh];
}

.dashboard-panel {
  @apply rounded-lg bg-stone-100 border border-stone-200 shadow-sm p-4 flex flex-col justify-between;
}

.login-bg {
  --s: 30px; /* control the size*/
  --c1: #cbf3f0;
  --c2: #2ec4b6;

  --_s: 37.5% 12.5% at 62.5%;
  --_g: 34% 99%, #0000 101%;
  --g1: radial-gradient(var(--_s) 100%, #0000 32%, var(--c1) var(--_g));
  --g2: radial-gradient(var(--_s) 0, #0000 32%, var(--c1) var(--_g));
  --g3: radial-gradient(var(--_s) 100%, #0000 32%, var(--c2) var(--_g));
  --g4: radial-gradient(var(--_s) 0, #0000 32%, var(--c2) var(--_g));
  background: var(--g1), var(--g2) 0 calc(3 * var(--s)),
    var(--g3) var(--s) calc(3 * var(--s)), var(--g4) var(--s) calc(6 * var(--s)),
    var(--g1) calc(2 * var(--s)) calc(6 * var(--s)),
    var(--g2) calc(2 * var(--s)) calc(9 * var(--s)),
    var(--g3) calc(3 * var(--s)) calc(9 * var(--s)),
    var(--g4) calc(3 * var(--s)) 0,
    repeating-linear-gradient(var(--c1) 0 25%, var(--c2) 0 50%);
  background-size: calc(4 * var(--s)) calc(12 * var(--s));
}

login-bg-2 {
  --s: 120px; /* control the size*/
  --c1: #101c36;
  --c2: #2ec4b6;
  --c3: #ffbf69;
  --c4: #ff9f1c;
  --c5: #cbf3c8;

  --_g: radial-gradient(#0000 70%, var(--c1) 71%);
  background: var(--_g), var(--_g) calc(var(--s) / 2) calc(var(--s) / 2),
    conic-gradient(var(--c2) 25%, var(--c3) 0 50%, var(--c4) 0 75%, var(--c5) 0);
  background-size: var(--s) var(--s);
}
